#startFightWrapper {
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  display: inline-block;
  text-align: center;
  background: gray;
}

#banner {
  background: yellow;
}

#items {
  background: green;
}

#playerP1, #playerP2 {
  display: inline-block;
}

#playerP2 {
  float: right;
}

#itemsP1, #itemsP2 {
  display: inline-block;
}

#itemsP2 {
  float: right;
}
